[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solchat = "2sLSWFDEgyXYQgwRVeUsJ5RrPKtaJfacRMGrHiKTE4UT"

[programs.devnet]
solchat = "2sLSWFDEgyXYQgwRVeUsJ5RrPKtaJfacRMGrHiKTE4UT"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "vitest"
