[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solchat = "8QH6X6khHZZi1wmgbgzsKg6LBWEb2nij1m923UiViTY4"

[programs.devnet]
solchat = "8QH6X6khHZZi1wmgbgzsKg6LBWEb2nij1m923UiViTY4"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
